@import "../Style/All.scss";

.cl-table{
    font-size: 14px;
        text-align: center;
    .btn {
        font-size: 12px;
        float: right;
    }
    thead {
        th {
            color: #A2A2A2;
            font-weight: $font-400;
        }
    }
    tbody {
        td{
            color: $font-color;
        }
        tr{
            &:last-child{
                td{
                border: none;
                }
            }
        }
    }
}
    .search-content {
        justify-content: space-between;
        align-items: center;
    }
    .select {
        select {
            background: #e3e3e3;
            border: 1px solid #e3e3e3;
            margin-right: 10px;
            border-radius: 4px;
            font-weight: $font-500;
            &:focus-visibles{
               outline: none !important;
               border: none
            }
        }
        input {
            padding: 0 8px;
        }
    }
      
.download-doc{
    @include download-btn;
}
