$btn-bg: #414141;
$font-color: #000000;
$light-color: #8D8F93;
$hover-color: #ff735c;
$border-color: #B1B1B1;
$bg-color: #F9F9F9;
$placeholder-color: #989898;
$color-blue: #337AB7;
$transition: all ease-in-out .4s;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-35: 35px;
$margin-40: 40px;
$margin-45: 45px;
$margin-50: 50px;
$margin-55: 55px;
$margin-60: 60px;
$margin-65: 65px;
$margin-70: 70px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-35: 35px;
$padding-40: 40px;
$padding-45: 45px;
$padding-50: 50px;
$padding-55: 55px;
$padding-60: 60px;
$padding-65: 65px;
$padding-70: 70px;